* {
	margin: 0;
	padding: 0;
}
html, body {

	background: #F6F6F6;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	
}

#wrapper {
	background: #F6F6F6;
	height: 100%;
	width: 100%;
}


/**************Homepage******************/

.homepageBox {
	width: 210px;
	height: 180px;
	float: left;
	display: inline-block;
	margin-bottom: 8px;
}

#leftBox {
	float: left;
	width: 45%;
	margin-top: 8%;
}

#rightBox {
	float: right;
	width: 45%;
	margin-top: 8%;
}

#imagesBoxes {
	float: left;
	width: 45%;
}

#textRight {
	float: right;
	width: 45%;
	margin-left: 10%;
	}

#rightBoxRight {
	float: right;
	width: 45%;
}

#rightBoxLeft {
	float: left;
	padding-top: 3%;
	width: 40%;
	padding-left: 10%;
	text-align: right;
	padding-bottom: 8%;
}


/**********horizontal nav bar***************/
#nav {
	top: 0;
	font-size: 16px;
	width: 100%;
	height: 65px;
	background: rgba(255,71,71,.85);
	line-height: 55px; 
	margin-bottom: 5%;
	}


#nav ul {
	list-style-type: none;
	padding: 0;
	z-index: 777;
	margin-left: 33%;
}

#nav ul li {
	display: inline-block;
	margin-left: 10px;
	
}



#nav ul li a,visited {
	color: #ffffff;
	display: block;
	padding-right: 15px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#nav ul li a:hover {
	color: black;
	text-decoration: none;
	z-index: 500;

}


/*********end of horizontal nav bar ******************/

/**************ABOUT US******************/

.aboutUsPics {
    float: left;
    width: 330px;
    height: 300px;
    margin: 5px;
}


a {
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}

a:hover{
	color: orange;
}
#aboutWrapper {
	width: 85%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	margin-left: auto;
	margin-right: auto;
	background: #E0E0E0;
	padding: 4%;
	margin-bottom: 2%;
}



/***************END ABOUT US***************/ 

/*****opportunities page*****///



#experience {
	text-align: center;
	font-size: 40px;
}

#col1 {
	float: left;
	width: 32.66%;
	/*margin: 1%;*/
	text-align: left;
	font-size: 20px
}

#col2 {
	float: left;
	width: 32.66%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: left;
	font-size: 20px
}

#col3 {
	float: left;
	width: 32.66%;
	/*margin: 1%;*/
	text-align: left;
	font-size: 20px
}

#form {
	padding: 5px;
	line-height: normal;
}


#HL-Res {
	float: left;
	clear: both;
}

img {
	max-width: 100%;
	max-height: 100%;
}

input[type="text"] {
	width: 90%;
	display: block;
	height: 20px;
	margin: 0 auto;
	border-radius: 5px;
}

input[type="submit"] {
	width: 100px;
	height: 30px;
	float: right;
	margin-right: 4%;
	border-radius: 4px;
	background-color: rgba(255,71,71,.85);
}

input[type="submit"]:hover {
	background-color: rgba(247, 185, 12, .6);
}

textarea {
	
	font-family: sans-serif;
	width: 90%;
	display: block;
	height: 45%;
	margin: 0 auto;
	border-radius: 5px;
}

/*Javascript*/

.nav-padding {
    /*padding-top: 40px;*/
}

.sticky {
    position:fixed;
    top:0;
}


#OppWrapper {
	width: 85%;
	min-height: 100px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	margin-left: auto;
	margin-right: auto;
	background: #E0E0E0;
	padding: 4%;
	margin-bottom: 2%;
}

/*********end opp page***********/

